<%-include('../_layouts/admin_header')-%>

            <div class="container-fluid">
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <a class="btn btn-primary pull-right" href="/admin/driver/add">Add Driver</a>
                            <h3 class="page-title"> Driver Details</h3>
                            <hr>
                            <!-- messages -->
                            <div class="w-75 p-3" style="margin: auto;">
                                <%- messages('messages', locals) %>
                            </div>
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped color-table primary-table">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Driver Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Image</th>
                                            <th>Bank Name</th>
                                            <th>Account Number</th>
                                            <th>IFSC code</th>
                                            <th>Vehicle Image</th>
                                            <th>License Front Side</th>
                                            <th>License Back Side</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let i = 0; i < drivers.length; i++ ) { %>
                                            <tr>
                                                <td><%= i+1 %></td>
                                                <td><%= drivers[i].name %></td>
                                                <td><%= drivers[i].email %></td>
                                                <td><%= drivers[i].number %></td>
                                                <td><img src="<%= drivers[i].image %>" alt="<%= drivers[i].name %>" width="100" height="100"></td>
                                                <td><%= drivers[i].Bankname %></td>
                                                <td><%= drivers[i].Accountnumber %></td>
                                                <td><%= drivers[i].IFSCcode %></td>
                                                <td><img src="<%= drivers[i].vehicleimage %>" alt="Vehicle Image" width="100" height="100"></td>
                                                <td><img src="<%= drivers[i].frontimage %>" alt="License Frontside" width="100" height="100"></td>
                                                <td><img src="<%= drivers[i].backimage %>" alt="License Backside" width="100" height="100"></td>
                                                <td>
                                                    <a href="/admin/driver/edit/<%= drivers[i].id %>"><i class="icon-pencil" style="font-size: 120%;"></i></a>
                                                    <a href="/admin/driver/delete/<%= drivers[i].id %>" class="confirmDeletion"><i class="icon-trash" style="font-size: 120%;"></i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer t-a-c">
                © 2017 Cubic Admin
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/js/sidebarmenu.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.js"></script>
    <script src="/plugins/components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
    $(function() {
        $('#myTable').DataTable();

        var table = $('#example').DataTable({
            "columnDefs": [{
                "visible": false,
                "targets": 2
            }],
            "order": [
                [2, 'asc']
            ],
            "displayLength": 25,
            "drawCallback": function(settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function(group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function() {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            } else {
                table.order([2, 'asc']).draw();
            }
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    $(function(){
        $('a.confirmDeletion').on('click',function(){
            if(!confirm('Confirm deletion'))
                return false;
        });
    });
    </script>
    <!--Style Switcher -->
    <script src="/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>