<%-include('../_layouts/admin_header')-%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <form  method="POST" onsubmit="validate()" action="/admin/promo/edit/<%= promo.id %>" id="Form">
                            <div class="panel-body">
                                <div class="form-body">
                                    <h2 class="page-title m-b-20"> Edit Promocode</h2>
                                    <hr>
                                    <!-- errors -->
                                    <% if(typeof alert != 'undefined') { %>
                                        <div class="w-75 p-3" style="margin: auto;">
                                            <% alert.forEach(function(error) { %>
                                                <div class="alert alert-danger alert-dismissible show" role="alert">
                                                    <%= error.msg %>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <hr>
                                    <% } %>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Promocode</label>
                                                <input type="text" id="promo" class="form-control" name="promo" placeholder="Promocode" value="<%= promo.promo %>">
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="promoErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Number of Time</label>
                                                <input type="text" id="times" class="form-control" name="times" value="<%= promo.times %>" placeholder="Number of Time" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="timesErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Expiry Date</label>
                                                <input type="date" id="date" class="form-control" name="date"  value="<%= promo.date %>">
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="dateErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Select Type</label>
                                                <select id="type" class="form-control" name="type">
                                                    <option>Select Type</option>
                                                    <option <%= promo.type == 'Discount' ? 'selected' : ''%>>Discount</option>
                                                    <option <%= promo.type == 'Cashback' ? 'selected' : ''%>>Cashback</option>
                                                </select>
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="typeErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Minimum Amount</label>
                                                <input type="text" id="minAmount" class="form-control" name="minAmount" value="<%= promo.minAmount %>" placeholder="Minimum Amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="minAmountErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Price</label>
                                                <input type="text" id="price" class="form-control" name="price" value="<%= promo.price %>" placeholder="Price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="priceErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Percentage</label>
                                                <input type="text" id="percentage" class="form-control" name="percentage" value="<%= promo.percentage %>" placeholder="Percentage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                                    <span class="cl12" id="percentageErr"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea name="desc" class="form-control" id="ta" cols="30" rows="10"><%= promo.desc %></textarea>
                                        <div class="txt-s-101 cl6 p-b-10" style="color: red;">
                                            <span class="cl12" id="taErr"></span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href="/admin/promo" class="btn btn-danger" style="color: white;">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const typefunc = function() {
        const typeValue = document.getElementById('type').value;
        if (typeValue == 'Discount') {
            document.getElementById("percentage").value = '';
            document.getElementById("percentage").disabled = false;
            document.getElementById("price").value = 0;
            document.getElementById("price").disabled = true;
        } else if (typeValue == 'Cashback') {
            document.getElementById("price").value = '';
            document.getElementById("price").disabled = false;
            document.getElementById("percentage").value = 0;
            document.getElementById("percentage").disabled = true;
        }
    };

    document.getElementById('type').addEventListener('change',typefunc);
    window.onload = typefunc;
    
    const form = document.getElementById('Form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
    })
    function validate(){
        let returnVal = true;

        const promoValue = document.getElementById('promo').value.trim();
        const timesValue = document.getElementById('times').value.trim();
        const dateValue = document.getElementById('date').value.trim();
        const typeValue = document.getElementById('type').value.trim();
        const minValue = document.getElementById('minAmount').value.trim();
        const priceValue = document.getElementById('price').value.trim();
        const percentageValue = document.getElementById('percentage').value.trim();
        const descValue = CKEDITOR.instances.ta.getData();
        
        if (promoValue == '') {
            setError('promoErr','Please enter Promocode.')
            returnVal = false;
        } else {
            removeError('promoErr')
        }

        if (timesValue == '') {
            setError('timesErr','Please enter Number of Times.')
            returnVal = false;
        } else if (timesValue < 1 ) {
            console.log(timesValue);
            setError('timesErr','Value can not be less than 1.')
            returnVal = false;
        } else {
            removeError('timesErr')
        }

        if (dateValue == '') {
            setError('dateErr','Please enter Expiry Date.')
            returnVal = false;
        } else {
            removeError('dateErr')
        }

        if (typeValue == 'Select Type') {
            setError('typeErr','Please select Type.')
            returnVal = false;
        } else {
            removeError('typeErr')
        }

        if (minValue == '') {
            setError('minAmountErr','Please enter Minimum Amount.')
            returnVal = false;
        } else {
            removeError('minAmountErr')
        }

        if (priceValue == '') {
            setError('priceErr','Please enter Price.')
            returnVal = false;
        } else {
            removeError('priceErr')
        }

        if (percentageValue == '') {
            setError('percentageErr','Please enter Percentage.')
            returnVal = false;
        } else {
            removeError('percentageErr')
        }

        if (descValue == '') {
            setError('taErr','Please enter description.')
            returnVal = false;
        } else {
            removeError('taErr')
        }

        if (returnVal) {
            form.submit();
        }
    }

    function setError(id, error) {
        // set error msg
        const element = document.getElementById(id);
        element.innerHTML = '* ' + error;
    }
    function removeError(id) {
        // remove error msg
        const element = document.getElementById(id);
        element.innerHTML = '';
    }
</script>
<footer class="footer t-a-c">
    © 2017 Cubic Admin
</footer>
</div>
<!-- ===== Page-Content-End ===== -->
</div>
<!-- ===== Main-Wrapper-End ===== -->
<!-- ==============================
Required JS Files
=============================== -->
<!-- ===== jQuery ===== -->
<script src="/plugins/components/jquery/dist/jquery.min.js"></script>
<!-- ===== Bootstrap JavaScript ===== -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ===== Slimscroll JavaScript ===== -->
<script src="/js/jquery.slimscroll.js"></script>
<!-- ===== Wave Effects JavaScript ===== -->
<script src="/js/waves.js"></script>
<!-- ===== Menu Plugin JavaScript ===== -->
<script src="/js/sidebarmenu.js"></script>
<!-- ===== Custom JavaScript ===== -->
<script src="/js/custom.js"></script>
<!-- ===== ckeditor JavaScript ===== -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script src="/js/ckeditor.js"></script>
<!-- ===== Plugin JS ===== -->
<script src="/plugins/components/chartist-js/dist/chartist.min.js"></script>
<script src="/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<script src='/plugins/components/moment/moment.js'></script>
<script src='/plugins/components/fullcalendar/fullcalendar.js'></script>
<script src="/js/db2.js"></script>
<!-- ===== Style Switcher JS ===== -->
<script src="/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>