<!DOCTYPE html>
<html lang="en">
<head>
	<title> <%= title %> </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="/vendor/revolution/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="/vendor/revolution/css/settings.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slide100/slide100.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
	<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">

</head>
<body class="animsition">

<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop">
					<div class="left-header">
						<!-- Logo desktop -->		
						<div class="logo">
							<a href="/"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
						</div>	
					</div>
						
					<div class="center-header">
						<!-- Menu desktop -->
						<div class="menu-desktop">
							<ul class="main-menu">
								<% if (typeof(storename)!='undefined') { %>
									<li><a href="/store"><i class="fa fa-map-marker" style="margin-right:7px; font-size: 110%;"></i><%= storename %></a></li>
								<% } %>								
							</ul>
						</div>
					</div>
						
					<div class="right-header">
						<!-- Icon header -->
						<div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click p-t-8">
							<!-- <div class="h-full flex-m">
								<div class="icon-header-item flex-c-m trans-04 js-show-modal-search">
									<img src="/images/icons/icon-search.png" alt="SEARCH">
								</div>
							</div> -->
							<% if (user) { %>
								<div class="menu-desktop">
									<ul class="main-menu">
										<li>
											<a href="/account"> Account</a>
										</li>
									</ul>
								</div>
							<% } else { %>
								<div class="menu-desktop">
									<ul class="main-menu">
										<li>
											<a href="/signup">LogIn/SignUp</a>
										</li>
									</ul>
								</div>
							<% } %>

							<div class="menu-desktop">
								<ul class="main-menu">
									<li>
										<a href="/wishlist"><i class="fa fa-heart-o"></i></a>
									</li>
								</ul>
							</div>
								
							<div class="wrap-cart-header h-full flex-m m-l-10 menu-click">
								<a href="/cart">
									<div class="icon-header-item flex-c-m trans-04 icon-header-noti" id="cartlength1" data-notify="<%= cartLength %>">
										<img src="/images/icons/icon-cart-2.png" alt="CART">
									</div>
								</a>
							</div>
						</div>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click m-r-15">
				<div class="wrap-cart-header h-full flex-m m-l-5 menu-click">
					<div class="icon-header-item flex-c-m trans-04 icon-header-noti" id="cartlength2" data-notify="<%= cartLength %>">
						<a href="/cart">
							<img src="/images/icons/icon-cart-2.png" alt="CART">
						</a>
					</div>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<% if (typeof(storename)!='undefined') { %>
					<li><a href="/store"><i class="fa fa-map-marker" style="margin-right:7px; font-size: 110%;"></i><%= storename %></a></li>
				<% } %>
				<li>
					<% if (user) { %>
						<a href="account.html">Account</a>
					<% } else { %>
						<a href="/signup">LogIn/SignUp</a>
					<% } %>
				</li>

				<li><a href="/wishlist">Wishlist</a></li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
				<span class="lnr lnr-cross"></span>
			</button>
			
			<div class="container-search-header">
				<form class="wrap-search-header flex-w">
					<button class="flex-c-m trans-04">
						<span class="lnr lnr-magnifier"></span>
					</button>
					<input class="plh1" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
