<%- include('_layouts/header') %>

	<!-- Title page -->
	<section class="how-overlay2 bg-img1" style="background-image: url(/images/bg-07.jpg);">
		<div class="container">
			<div class="txt-center p-t-160 p-b-165">
				<h2 class="txt-l-101 cl0 txt-center p-b-14 respon1">
					<%= title %>
				</h2>

				<span class="txt-m-201 cl0 flex-c-m flex-w">
					<a href="/" class="txt-m-201 cl0 hov-cl10 trans-04 m-r-6">
						Home
					</a>

					<span>
						/ <%= title %>
					</span>
				</span>
			</div>
		</div>
	</section>

	<section class="sec-story bg0 p-t-150 p-b-100">
		<div class="container">
			<%- content %>
		</div>
	</section>

<%- include('_layouts/footer') %>