<%- include('_layouts/header') %>
<body class="animsition">

	<div class="new_banner_wrapper">
		<div class="container" id="search_div">
			<form class="wrap-search-header flex-w" autocomplete="off">
				<input class="plh1" id="search" type="text" name="search" placeholder="Search..." style="border: 2px solid #81b03f;">
				<button class="flex-c-m trans-04">
					<span class="lnr lnr-magnifier"></span>
				</button>
				<ul id="searchResult"></ul>
			</form>
			<ul class="category_banner_list">
				<% for( let i = 0; i < cats.length; i++ ) { %>
					<li><a href="/products/<%= cats[i].id %>"><%= cats[i].name %></a>
				<% } %>
			</ul>
		</div>
	</div>

	<!-- Slider -->
	<!-- <section class="sec-slider">
		<div class="rev_slider_wrapper fullwidthbanner-container">
			<div id="rev_slider_1" class="rev_slide fullwidthabanner" data-version="5.4.5" style="display:none">
				<ul>
					<li data-transition="fade">
						<img src="images/bg-slide-01.jpg" alt="IMG-BG" class="rev-slidebg">
						
						<div class="tp-caption tp-resizeme layer1" 
						data-frames='[{"delay":1300,"speed":1300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['35', '35', '35', '35']" 
					    data-lineheight="['42', '42', '42', '42']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['-78', '-78', '-78', '-150']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	<span class="child1">organici</span> <span class="child2">products</span>
					    </div>
						
						<h2 class="tp-caption tp-resizeme layer2" 
						data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['75', '75', '75', '75']" 
					    data-lineheight="['82', '82', '82', '82']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['0', '0', '0', '-30']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Fresh Or<span>a</span>nges 
					    </h2>
						
						<p class="tp-caption tp-resizeme layer3" 
						data-frames='[{"delay":1300,"speed":1300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['15', '15', '15', '15']" 
					    data-lineheight="['24', '24', '24', '24']"
					    data-color="['#666']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']"  
					    data-voffset="['95', '95', '95', '95']" 
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto', 'auto', 'auto', 'auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 35, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 35, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					    </p>

						<div class="tp-caption tp-resizeme flex-w layer4"
						data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.6;sY:0.6;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					   	data-x="['left']"
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['203', '203', '203', '203']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
						    <a href="shop-sidebar-grid.html" class="btn-slide flex-c-m">
						    	Shop now
						    	<span class="lnr lnr-chevron-right m-l-7"></span>
						    	<span class="lnr lnr-chevron-right"></span>
						    </a>
						</div>
					</li>

					<li data-transition="fade">
						<img src="images/bg-slide-01.jpg" alt="IMG-BG" class="rev-slidebg">
						
						<div class="tp-caption tp-resizeme layer1" 
						data-frames='[{"delay":500,"speed":1300,"frame":"0","from":"y:150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['35', '35', '35', '35']" 
					    data-lineheight="['42', '42', '42', '42']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['-78', '-78', '-78', '-150']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	<span class="child1">organici</span> <span class="child2">products</span>
					    </div>
						
						<h2 class="tp-caption tp-resizeme layer2" 
						data-frames='[{"delay":1300,"speed":1300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['75', '75', '75', '75']" 
					    data-lineheight="['82', '82', '82', '82']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['0', '0', '0', '-30']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Fresh Or<span>a</span>nges 
					    </h2>
						
						<p class="tp-caption tp-resizeme layer3" 
						data-frames='[{"delay":500,"speed":1300,"frame":"0","from":"y:-150px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['15', '15', '15', '15']" 
					    data-lineheight="['24', '24', '24', '24']"
					    data-color="['#666']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']"  
					    data-voffset="['95', '95', '95', '95']" 
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto', 'auto', 'auto', 'auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 35, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 35, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					    </p>

						<div class="tp-caption tp-resizeme flex-w layer4"
						data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					   	data-x="['left']"
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['203', '203', '203', '203']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
						    <a href="shop-sidebar-grid.html" class="btn-slide flex-c-m">
						    	Shop now
						    	<span class="lnr lnr-chevron-right m-l-7"></span>
						    	<span class="lnr lnr-chevron-right"></span>
						    </a>
						</div>
					</li>

					<li data-transition="fade">
						<img src="images/bg-slide-01.jpg" alt="IMG-BG" class="rev-slidebg">
						
						<div class="tp-caption tp-resizeme layer1" 
						data-frames='[{"delay":1300,"speed":1300,"frame":"0","from":"x:-200px;skX:85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['35', '35', '35', '35']" 
					    data-lineheight="['42', '42', '42', '42']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['-78', '-78', '-78', '-150']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	<span class="child1">organici</span> <span class="child2">products</span>
					    </div>
						
						<h2 class="tp-caption tp-resizeme layer2" 
						data-frames='[{"delay":500,"speed":1300,"frame":"0","from":"x:200px;skX:-85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['75', '75', '75', '75']" 
					    data-lineheight="['82', '82', '82', '82']"
					    data-color="['#333']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['0', '0', '0', '-30']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Fresh Or<span>a</span>nges 
					    </h2>
						
						<p class="tp-caption tp-resizeme layer3" 
						data-frames='[{"delay":1300,"speed":1300,"frame":"0","from":"x:-200px;skX:85px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-visibility="['on', 'on', 'on', 'on']"
 
					    data-fontsize="['15', '15', '15', '15']" 
					    data-lineheight="['24', '24', '24', '24']"
					    data-color="['#666']" 
					    data-textAlign="['left', 'left', 'center', 'center']"
					 
					    data-x="['left']" 
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']"  
					    data-voffset="['95', '95', '95', '95']" 
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto', 'auto', 'auto', 'auto']" 
					    data-whitespace="['normal']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 35, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 35, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
					    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					    </p>

						<div class="tp-caption tp-resizeme flex-w layer4"
						data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

					   	data-x="['left']"
					    data-y="['center']" 
					    data-hoffset="['310', '80', '0', '0']" 
					    data-voffset="['203', '203', '203', '203']"
					 
					    data-width="['650','650','768','576']"
					    data-height="['auto']" 
					 
					    data-paddingtop="[0, 0, 0, 0]"
					    data-paddingright="[15, 15, 15, 15]"
					    data-paddingbottom="[0, 0, 0, 0]"
					    data-paddingleft="[15, 15, 15, 15]"

					    data-basealign="slide" 
    					data-responsive_offset="on"
					    >
						    <a href="shop-sidebar-grid.html" class="btn-slide flex-c-m">
						    	Shop now
						    	<span class="lnr lnr-chevron-right m-l-7"></span>
						    	<span class="lnr lnr-chevron-right"></span>
						    </a>
						</div>
					</li>
				</ul>				
			</div>
		</div>
	</section> -->

	<div class="size-a-1 flex-col-c-m p-b-48 m-t-30">
		<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
			Featured Categories

			<div class="how-pos1">
				<img src="images/icons/symbol-02.png" alt="IMG">
			</div>
		</div>

		<h3 class="txt-center txt-l-101 cl3 respon1">
			Our Categories
		</h3>
	</div>
	<!-- Item -->
	<div class="sec-item flex-w" style="margin-bottom: 5em;">
		<% for( let i = 0; i < cats.length; i++ ) { %>
			<div class="of-hidden size-w-2 respon2">
				<div class="hov-img1 pos-relative">
					<img src="<%= cats[i].image %>" alt="IMG">
					<a href="/products/<%= cats[i].id %>" class="s-full ab-t-l flex-col-c-m bg11 p-all-15 hov1-parent">
						<span class="txt-l-102 cl0 txt-center p-t-30 p-b-13">
							<%= cats[i].name %>
						</span>
					</a>
				</div>
			</div>
		<% } %>
	</div>

	<div class="size-a-1 flex-col-c-m p-b-48">
		<div class="txt-center txt-m-201 cl10 how-pos1-parent m-b-14">
			Featured Products

			<div class="how-pos1">
				<img src="images/icons/symbol-02.png" alt="IMG">
			</div>
		</div>

		<h3 class="txt-center txt-l-101 cl3 respon1">
			Our Products
		</h3>
	</div>
	<!-- Item -->
	<div class="sec-item flex-w" style="margin-bottom: 5em;">
		<% for( let i = 0; i < prods.length; i++ ) { %>
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-30">
				<div class="block1">
					<div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
						<img src="<%= prods[i].image %>" class="product_img_set" alt="IMG" width="200px">

						<div class="block1-content flex-col-c-m p-b-46">
							<a href="product-single.html" class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1">
								<%= prods[i].productname %>
							</a>

							<span class="block1-content-more txt-m-104 cl9 p-t-21 trans-04">
								<%= prods[i].totalprice %> &#8377;
							</span>
							<input type="text" id="id" value="<%= prods[i].id %>" class="<%= prods[i].id %>" hidden>
							<div class="block1-wrap-icon flex-c-m flex-w trans-05">
								<a href="/products/detail/<%= prods[i].id %>" class="block1-icon flex-c-m wrap-pic-max-w">
									<img src="/images/icons/icon-view.png" alt="ICON">
								</a>
								<a href="/cart/add/<%= prods[i].id %>" class="block1-icon flex-c-m wrap-pic-max-w">
									<img src="/images/icons/icon-cart.png" alt="ICON">
								</a>
								<% if (user && user.wishlist.includes(prods[i].id)) { %>
									<a href="javascript:void(0)" class="block1-icon flex-c-m wrap-pic-max-w js-addedwish-b1">
										<img class="icon-addedwish-b1" src="/images/icons/icon-heart2.png" alt="ICON">
									</a>
									<a href="javascript:void(0)" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1" hidden>
										<img class="icon-addwish-b1" src="/images/icons/icon-heart.png" alt="ICON">
									</a>
								<% } else { %>
									<a href="javascript:void(0)" class="block1-icon flex-c-m wrap-pic-max-w js-addedwish-b1" hidden>
										<img class="icon-addedwish-b1" src="/images/icons/icon-heart2.png" alt="ICON">
									</a>
									<a href="javascript:void(0)" class="block1-icon flex-c-m wrap-pic-max-w js-addwish-b1">
										<img class="icon-addwish-b1" src="/images/icons/icon-heart.png" alt="ICON">
									</a>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>

<%- include('_layouts/newsletter') %>
<%- include('_layouts/footer') %>